@page
@model StupifyWebsite.Pages.GuildSettingsModel
@{
    ViewData["Title"] = "Guild Settings";
}

<h2>@ViewData["Title"]</h2>
<div>
    @foreach (var serverSettings in Model.Settings)
    {
        <form method="post" style="margin: 3px" asp-route-guildId=@serverSettings.Key>
            <h4>@serverSettings.Value.GuildName</h4>
            <div>Command Prefix: <input class="form-control" value="@serverSettings.Value.CommandPrefix" style="margin: 2px" asp-for="SettingsToSet.CommandPrefix"></div>
            <div>Custom Command Prefix: <input class="form-control" value="@serverSettings.Value.CustomCommandPrefix" style="margin: 2px" asp-for="SettingsToSet.CustomCommandPrefix"></div>
            <label for="mod-role">Select list:</label>
            <select class="form-control" id="mod-role" asp-for="SettingsToSet.ModeratorRoleId">
                @if (serverSettings.Value.ModeratorRoleId == null)
                {
                    <option value="" selected></option>
                }
                else{<option value=""></option>}

                @foreach (var role in Model.Roles[serverSettings.Key])
                {
                    if (role.Id == serverSettings.Value.ModeratorRoleId)
                    {
                        <option selected="selected" value="@role.Id">@role.Name</option>
                    }
                    else {<option value="@role.Id">@role.Name</option>}
                }
            </select>
            <input type="submit" value="Submit" style="margin: 2px" />
        </form>
    }
</div>

