@page
@model StupifyWebsite.Pages.GuildSettingsModel
@{
    ViewData["Title"] = "Guild Settings";
}

<h2>@ViewData["Title"]</h2>
<div>
    @foreach (var serverSettings in Model.Settings)
    {
        <form method="post" style="margin: 3px" asp-route-guildId=@serverSettings.Key>
            <h4>@serverSettings.Value.GuildName</h4>
            
            <label for="command-prefix">Command Prefix</label>
            <input class="form-control" id="command-prefix" value="@serverSettings.Value.CommandPrefix" asp-for="SettingsToSet.CommandPrefix">

            <label for="custom-command-prefix">Custom Command Prefix</label>
            <input class="form-control" id="custom-command-prefix" value="@serverSettings.Value.CustomCommandPrefix" asp-for="SettingsToSet.CustomCommandPrefix">

            <label for="mod-role">Moderator Role</label>
            <select class="form-control" id="mod-role" asp-for="SettingsToSet.ModeratorRoleId">
                @if (serverSettings.Value.ModeratorRoleId == null)
                {
                    <option value="" selected></option>
                }
                else{<option value=""></option>}

                @foreach (var role in Model.Roles[serverSettings.Key])
                {
                    if (role.Id == serverSettings.Value.ModeratorRoleId)
                    {
                        <option selected="selected" value="@role.Id">@role.Name</option>
                    }
                    else {<option value="@role.Id">@role.Name</option>}
                }
            </select>

            <label for="ban-channel">Ban Channel</label>
            <select class="form-control" id="ban-channel" asp-for="SettingsToSet.BanChannel">
                @if (serverSettings.Value.BanChannel == null)
                {
                    <option value="" selected></option>
                }
                else{<option value=""></option>}

                @foreach (var channel in Model.TextChannels[serverSettings.Key])
                {
                    if (channel.Id == serverSettings.Value.BanChannel)
                    {
                        <option selected="selected" value="@channel.Id">@channel.Name</option>
                    }
                    else {<option value="@channel.Id">@channel.Name</option>}
                }
            </select>

            <label for="kick-channel">Kick Channel</label>
            <select class="form-control" id="kick-channel" asp-for="SettingsToSet.KickChannel">
                @if (serverSettings.Value.KickChannel == null)
                {
                    <option value="" selected></option>
                }
                else{<option value=""></option>}

                @foreach (var channel in Model.TextChannels[serverSettings.Key])
                {
                    if (channel.Id == serverSettings.Value.KickChannel)
                    {
                        <option selected="selected" value="@channel.Id">@channel.Name</option>
                    }
                    else {<option value="@channel.Id">@channel.Name</option>}
                }
            </select>

            <label for="welcome-channel">Welcome Channel</label>
            <select class="form-control" id="welcome-channel" asp-for="SettingsToSet.WelcomeChannel">
                @if (serverSettings.Value.WelcomeChannel == null)
                {
                    <option value="" selected></option>
                }
                else{<option value=""></option>}

                @foreach (var channel in Model.TextChannels[serverSettings.Key])
                {
                    if (channel.Id == serverSettings.Value.WelcomeChannel)
                    {
                        <option selected="selected" value="@channel.Id">@channel.Name</option>
                    }
                    else {<option value="@channel.Id">@channel.Name</option>}
                }
            </select>

            <label for="leave-channel">Leave Channel</label>
            <select class="form-control" id="leave-channel" asp-for="SettingsToSet.LeaveChannel">
                @if (serverSettings.Value.LeaveChannel == null)
                {
                    <option value="" selected></option>
                }
                else{<option value=""></option>}

                @foreach (var channel in Model.TextChannels[serverSettings.Key])
                {
                    if (channel.Id == serverSettings.Value.LeaveChannel)
                    {
                        <option selected="selected" value="@channel.Id">@channel.Name</option>
                    }
                    else {<option value="@channel.Id">@channel.Name</option>}
                }
            </select>

            <input type="submit" value="Submit" style="margin: 2px" />
        </form>
    }
</div>

